

<app-container>
    <a role="button" class="btn btn-primary mt-3 mb-3" routerLink='/trainer'>Go to trainer</a>
    <main class='main-content'>
        <app-catalogue></app-catalogue>
    </main>
</app-container>
