<li class="pokemon-item " (click)="onPokemonCaught()">
    <div class="justify-content-center">
        {{ pokemon?.name }}
        <span class="d-flex justify-content-center">
            <img *ngIf="pokemon?.caught" src="{{ pokemon?.imgUrl }}" alt="" width="60" height="60"/>
            <img *ngIf="!pokemon?.caught" src="{{ pokemon?.imgUrl }}" alt="" width="40" height="40"/>
            <img *ngIf="pokemon?.caught" src="assets/images/pokeball.png" alt="" width="10" height="10"/>
        </span>
    </div>
</li>