
<app-container>
    <a role="button" class="btn btn-primary mt-3 mb-3" routerLink='/catalogue'>Go to catalogue</a>
    <main class='main-content'>
        <app-trainer-list></app-trainer-list>
    </main>
</app-container>