<form>
  <fieldset>
    <label for="username">Username</label>
    <section>
      <input type="text"
             [(ngModel)]="username"
             placeholder="Enter your username"
             id="username"
             name="username">
    </section>

  </fieldset>

  <button type="btn btn-primary" (click)="onLoginClick()" class="btn btn-primary mt-2">Login</button>
</form>
