<li class="pokemon-item" (click)="onPokemonRemove()">
    <div class="justify-content-center">
        {{ pokemon?.name }}
        <span class="d-flex justify-content-center">
            <img *ngIf="pokemon?.caught" src="{{ pokemon?.imgUrl }}" alt="" width="60" height="60"/>
        </span>
    </div>
</li>